<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>会員登録</title>
  </head>
  <body>
    <div>
      <form id="form" onsubmit="register(event)">
        <input id="name" placeholder="name" /><br />
        <input id="id" placeholder="id" /><br />
        <input type="password" id="password" placeholder="password" /><br />
        <button type="submit">登録</button>
      </form>
      <a href="login.html">ログイン</a>
    </div>
    <script src="register.js"></script>
  </body>
</html>
